@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@font-face {
    font-family: Inter, sans-serif;
    src: url("assets/fonts/Inter-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
}

:root {
    --accent-color: #BB945F;
    --black-color: #000;
    --dark-color: #0C0C0E;
    --grey-color: #8E8E8E;
    --white-color: #fff;
    --forum-h1: 400 30px Forum;
    --forum30: 400 30px/50px Forum;
    --section-title: 400 40px/40px Forum;
    --bg-title: 400 40px/50px Forum;
    --forum20: 400 20px/40px Forum;
    --nav-font: 400 20px/50px Inter, sans-serif;
    --inter15: 400 15px/40px Inter, sans-serif;
    --inter20: 400 20px/40px Inter, sans-serif;
    --inter30: 400 30px/normal Inter, sans-serif;
    --inter10-bold: 700 10px/12.1px Inter, sans-serif;
    --inter15-bold: 700 15px/40px Inter, sans-serif;
    --inter20-bold: 700 20px/24.2px Inter, sans-serif;
    --inter20-40-bold: 700 20px/40px Inter, sans-serif;
}

.header {
    width: 100%;
    height: 90px;
    line-height: 90px;
    margin-bottom: -1px;
}

.header_container {
    max-width: 1440px;
    margin: 0 auto;
}

.header_flex {
    background-color: var(--dark-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    flex-basis: auto;
    height: 90px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--white-color);
    padding: 0 20px;
}

.title-h1 {
    color: var(--white-color);
    font: var(--forum-h1);
    letter-spacing: 0.7px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 40px;
}

.nav-list a:hover {
    color: var(--accent-color);
}

.nav-link {
    text-decoration: none;
    color: var(--white-color);
    font: var(--nav-font);
    letter-spacing: 0.8px;
    padding-left: 30px;
    transition: .3s;
}

.profile-icon {
    width: 28px;
    height: 28px;
}

.header_burger {
    display: none;
    width: 45px;
    height: 22px;
    position: relative;
}

.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
}

.burger_line-first {
    top: 0;
}

.burger_line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger_line-third {
    bottom: 0;
}

.bg-img {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../assets/img/Welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome_container {
    max-width: 1440px;
    margin: 0 auto;
}

.overlay {
    min-height: 300px;
    background: linear-gradient(rgba(12, 12, 14, 1), rgba(18, 18, 21, 0.1));
}

.dark-box {
    background-color: var(--dark-color);
    min-width: 600px;
    min-height: 220px;
    padding: 35px 40px;
    position: absolute;
    top: 310px;
}

.bg-title {
    color: var(--white-color);
    font: var(--bg-title);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.9px;
}

.about {
    text-align: center;
    padding: 20px 0px 34px;
}

.favorites {
    padding: 20px 0px 30px;
}

.library-card {
    padding: 30px 0px 42px;
}

.coffee-shop,
.contacts {
    padding: 30px 0px;
}

.title-h2 {
    text-align: center;
    position: relative;
    color: var(--dark-color);
    font: var(--section-title);
    letter-spacing: 2px;
    margin-bottom: 61px;
}

.title-h2:after {
    position: absolute;
    content: '';
    background-color: var(--dark-color);
    width: 50px;
    height: 1px;
    display: block;
    top: calc(100% + 20px);
    right: calc(50% - 25px);
}

.text {
    margin-bottom: 20px;
}

.about_p {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 0.6px;
}

.about-img_flex {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-bottom: 35px;
    position: relative;
}

.about-img_flex-item {
    width: 450px;
    height: 560px;
}

.about-img_item-inactive {
    display: none;
}

.carret-left {
    display: none;
    position: absolute;
    top: calc(50% + 9px);
    left: calc(50% - 308px);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.carret-right {
    display: none;
    position: absolute;
    top: calc(50% + 9px);
    right: calc(50% - 308px);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.carret-color:hover, .carret-color:active {
    stroke: var(--accent-color);
}

.about-pagination_flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.pagination-outer {
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination-outer:nth-last-child(1),
.pagination-outer:nth-last-child(2) {
    display: none;
}

.pagination-inner {
    display: inline-flex;
    align-content: center;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    background-color: var(--dark-color);
    border-radius: 50%;
    border: none;
}

.pagination-active {
    background-color: var(--accent-color);
    border: none;
}

.favorites_h3 {
    color: var(--black-color);
    font: var(--inter20-bold);
    text-align: left;
    margin-bottom: 34px;
}

.label {
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.radio-list_flex {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-content: flex-start;    
    margin-bottom: 31px;
}

.radio-item {
    flex-basis: 195px;
    text-align: left;
}

.radio-inter20 {
    color: var(--black-color);
    font: var(--inter20);
    padding-left: 20px;
}

.radio {
    display: none;
}

.fake {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid var(--black-color);
    position: relative;
    border-radius: 50%;
}

.fake::before {
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--black-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
    border-radius: 50%; 
}

.radio:checked+.fake::before {
    opacity: 1;
}

.radio:checked~.radio-inter20 {
    font-weight: 700;
    transition: .2s;
}

.invisible {
    display: none;
}

.favorites_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.favorites_article-wrapper {
    width: 590px;
    height: 555px;
}

.favorites_article-wrapper {
    list-style: none;
}

.favorites_book-card {
    width: 550px;
    height: 555px;
    padding: 13px 20px 13px 20px;
    text-align: left;
    border: 1px solid var(--black-color);
    position: relative;
}

.book-img {
    width: 200px;
    height: 300px;
    position: absolute;
    top: calc(100% - 299px);
    left: calc(100% - 159px);
}

.category-title {
    color: var(--black-color);
    font: var(--forum20);
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: block;
}

.category-title::after {
    content: '';
    background-color: var(--accent-color);
    width: 60px;
    height: 1px;
    display: block;
}

.book-title {
    color: var(--black-color);
    font: var(--inter15-bold);
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.book-author {
    margin-bottom: 20px;
    letter-spacing: 1.8px;
    font: var(--inter15-bold);
}

.text-description {
    display: block;
    width: 356px;
    height: 320px;
    color: var(--black-color);
    font: var(--inter15);
    letter-spacing: 2.4px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.buy_btn {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--dark-color);
    background-color: var(--white-color);
    font: var(--inter10-bold);
    color: var(--dark-color);
    letter-spacing: 1px;
    position: absolute;
    top: 510px;
    cursor: pointer;
}

.buy_btn:hover,
.check-card_btn:hover,
.sign-log_btn:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    transition: .3s;
}

.own_btn {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--white-color);
    font: var(--inter10-bold);
    letter-spacing: 1px;
    position: absolute;
    top: 510px;
}

.coffee-shop_p {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 2.7px;
    margin-bottom: 40px;
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.cofee-shop_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.menu_flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-left_flex {
    min-width: 438px;
}

.menu-right_flex {
    min-width: 462px;
}

.menu-title {
    color: var(--accent-color);
    font: var(--section-title);
    letter-spacing: 2px;
}

.menu-title-left {
    text-align: left;
}

.menu-title-right {
    text-align: right;
}

.menu_flex-item {
    display: flex;
    justify-content: space-between; 
}

.dish {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 2px;
    text-transform: capitalize;
    display: block;
}

.dish-left {
    text-align: left;
    min-width: 190px;
}

.dish-right {
    text-align: right;
    min-width: 210px;
}

.price {
    color: var(--black-color);
    font: var(--forum20);
    letter-spacing: 2px;
}

.price span {
    position: relative;
}

.price span::before {
    display: block;
    width: 100px;
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    top: 50%;
    right: calc(100% + 60px);
    height: 1px;
}

.contacts_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}

.contacts-title {
    font: var(--inter20-40-bold);
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--black-color);
    text-transform: capitalize;
}

.contact-item {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 2.6px;
    text-align: left;
    text-transform: capitalize;
    padding-top: 20px;
    line-height: 30px;
}

.contact-item-director {
    padding-top: 0px;
}

.contact_link {
    color: var(--black-color);
    font: var(--inter20);
    text-decoration: none;
    color: var(--black-color);
}

.contact_name {
    font: var(--inter20-40-bold);
}

.contact_text a:hover,
.contact_link:hover {
    color: var(--accent-color);
    transition: 0.3s;
}

.contacts_list {
    margin-bottom: 40px;
    list-style: none;
    text-align: left;
}

.map {
    width: 696px;
    height: 414px;
    background-image: url(../assets/img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.staff {
    margin-bottom: 20px;
}

.library-cards_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 21px;
}

.find-card_title {
    font: var(--inter30);
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.white-bg {
    border: 3px solid var(--accent-color);
    background-color: var(--white-color);
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    padding: 20px 20px 30px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.gold-bg {
    background-color: var(--accent-color);
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    padding: 20px 20px 25px;
    margin-bottom: 20px;
}

.name_input, .card-number_input {
    display: block;
    font: var(--forum30);
    color: var(--grey-color);
    width: 520px;
    height: 66px;
    background-color: var(--white-color);
    border-radius: 10px;
    flex-shrink: 0;
    border: none;
    padding: 8px 20px;
    margin-bottom: 25px;
}

.library-title {
    font: var(--forum30);
    color: var(--black-color);
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 0.6px;
}

.check-card_btn {
    width: auto;
    height: auto;
    padding: 0px 40px;
    border-radius: 2px;
    border: 1px solid var(--dark-color);
    background-color: var(--white-color);
    color: var(--dark-color);
    font: var(--inter20-40-bold);
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.get-card_title {
    color: var(--black-color);
    font: var(--forum30);
    text-align: right;
    margin-bottom: 35px;
    line-height: normal;
    letter-spacing: 0.8px;
}

.get-card_text {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 1px;
    text-align: right;
    width: 456px;
    margin-bottom: 35px;
}

.btn_flex {
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.sign-log_btn {
    color: var(--dark-color);
    font: var(--inter10-bold);
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid var(--dark-color);
    width: 75px;
    height: 30px;
    padding: 10px 0;
    background-color: var(--white-color);
    cursor: pointer;
}

.footer {
    color: var(--white-color);
    height: 250px;
}

.footer_container {
    background-color: var(--dark-color);
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px 34px;
}

.frame_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 65px;
    position: relative;
}

.frame_flex:after {
    position: absolute;
    content: '';
    background-color: var(--white-color);
    width: 100%;
    height: 1px;
    display: block;
    top: calc(100% + 30px);
    left: 0%;
}

.frame_flex-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address,
.open-hours {
    font: var(--inter15);
    line-height: 20px;
    letter-spacing: 0.4px;
    font-style: normal;
    display: inline;
}

.address {
    text-align: left;
}

.address a {
    text-decoration: none;
    color: var(--white-color);
}

.open-hours {
    text-align: right;
}

.icon-list {
    display: flex;
    justify-content: left;
    list-style: none;
}

.icon-item {
    width: 40px;
    align-content: center;
}

.media-limk{
    text-decoration: none;
    transition: .3s;
    padding: 5px;
    position: relative;
}

.media-link svg {
    position: absolute;
    top: calc(50% + 12px);
}

.media-link path {
    fill: #F5EFDB;
}

.footer-rss_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font: var(--inter20);
    letter-spacing: 3px;
}

.rss_item {
    flex: 1;
}

.year {
    text-align: left;
}

.school-name {
    text-align: center;
    letter-spacing: 2.5px;
}

.username {
    text-align: right;
}

.school-name a,
.username a {
    text-decoration: none;
    color: var(--white-color);
}

@media screen and (max-width: 1439px) {
    .about-img_flex-item:nth-child(3n) {
        display: none;
    }
    .pagination-outer:nth-last-child(2) {
        display: flex;
    }
    .about {
        padding: 20px 0px;
    }
}

@media screen and (max-width: 1260px) {
    .favorites_flex {
        justify-content: center;
    }
    .about-img_flex-item:nth-child(2n) {
        display: none;
    }
    .carret-left, .carret-right {
        display: block;
    }
    .pagination-outer:nth-last-child(1) {
        display: flex;
    }
}

@media screen and (max-width: 1124px) {
    .header_burger {
        display: block;
    }
    .nav {
        width: 332px;
        height: 570px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--dark-color);
        z-index: 9;
        padding: 100px 10px;
        transform: translateX(100%);
    }
    .nav-active {
        transform: translateX(0);
        transition: .3s all linear;
    }
    .nav-close-transition {
        transition: .3s;
    }
    .nav-item {
        width: 100%;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .nav-item:last-child {
        margin-bottom: 0;
    }
    .nav-list {
        margin-right: 0;
    }
    .nav-link {
        padding-left: 0;
        display: block;
        text-align: center;
    }
    .profile-icon {
        z-index: 10;
        margin-right: 40px;
    }
    .profile-icon-fixed {
        position: fixed; 
        right: 65px;
    }
    .nav-close {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 11;
    }
    .nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--white-color);
        position: absolute;
        top: 50%;
    }
    .nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .menu-right_flex {
        margin-left: auto;
    }
    .library-card {
        padding: 30px 0px 40px;
    }
    .library-cards_flex {
        justify-content: center;
    }
    .get-card_text {
        width: 600px;
        margin-bottom: 40px;
    }
    .get-card_title,
    .get-card_text {
        text-align: center;
    }
    .get-card_title {
        margin-bottom: 42px;
    }
    .btn_flex {
        justify-content: center;
    }
    .rss_item:nth-of-type(1) {
        flex-grow: 1;
    }
    .rss_item:nth-of-type(2) {
        flex-grow: 3;
        padding-left: 45px;
    }
    .rss_item {
        flex: auto;
    }
}

@media screen and (max-width: 819px) {
    .radio-item:nth-last-child(1) {
        flex-basis: auto;
    }
    .coffee-shop_p {
        letter-spacing: 2.5px;
    }
}

@media screen and (max-width: 768px) {
    .bg-img {
        background-image: url(../assets/img/welcome-sm.jpg);
    }
}

@media screen and (max-width: 734px) {
    .radio-list_flex {
        justify-content: space-between;
    }
    .radio-item {
        flex-basis: auto;
    }
    .dark-box {
        min-width: 400px;
        min-height: 146px;
        padding: 20px 22px;
    }
}

@media screen and (max-width: 654px) {
    .radio-list_flex {
        flex-direction: column;
    }
    .rss_item {
        font-size: 15px;
    }
}
