@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@font-face {
    font-family: Inter, sans-serif;
    src: url("assets/fonts/Inter-Regular.ttf");
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* @keyframes slide-down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
}
a {
    outline: none;
}

:root {
    --accent-color: #BB945F;
    --black-color: #000;
    --dark-color: #0C0C0E;
    --grey-color: #8E8E8E;
    --white-color: #fff;
    --forum-h1: 400 30px Forum;
    --forum30: 400 30px/50px Forum;
    --section-title: 400 40px/40px Forum;
    --bg-title: 400 40px/50px Forum;
    --forum20: 400 20px/40px Forum;
    --nav-font: 400 20px/50px Inter, sans-serif;
    --inter15: 400 15px/40px Inter, sans-serif;
    --inter20: 400 20px/40px Inter, sans-serif;
    --inter30: 400 30px/normal Inter, sans-serif;
    --inter10-bold: 700 10px/12.1px Inter, sans-serif;
    --inter15-bold: 700 15px/40px Inter, sans-serif;
    --inter20-bold: 700 20px/24.2px Inter, sans-serif;
    --inter20-40-bold: 700 20px/40px Inter, sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--white-color);
    padding: 0 20px;
}



/* Header start */

.header {
    width: 100%;
    height: 90px;
    line-height: 90px;
    margin-bottom: -1px;
}

.header_container {
    max-width: 1440px;
    margin: 0 auto;
}

.header_flex {
    background-color: var(--dark-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    flex-basis: auto;
    height: 90px;
}

.title-h1 {
    color: var(--white-color);
    font: var(--forum-h1);
    letter-spacing: 0.7px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 40px;
}

.nav-list a:hover {
    color: var(--accent-color);
}

.nav-link {
    text-decoration: none;
    color: var(--white-color);
    font: var(--nav-font);
    letter-spacing: 0.8px;
    padding-left: 30px;
    transition: .3s;
}

.profile {
    width: 28px;
    height: 90px;
    position: relative;
}

.initials-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--white-color);
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 0;
    padding: 5px 0;
    text-align: center;
    color: #BB945F;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}


.profile-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/* ======================
    Profile Menu start
====================== */

.profile-menu_login,
.profile-menu_logout {
    width: 80px;
    height: 115px;
    border: 0;
    background-color: var(--white-color);
    position: absolute;
    top: 60px;
    right: 0;
    line-height: initial;
    padding: 5px 5px 20px;
}
.profile-menu_visible,
.menu-logout_visible {
    display: block;
    animation:  fade-in 0.5s forwards;
}
.profile-menu_hidden,
.menu-logout_hidden {
    display: none;
    /* animation: fade-out 2s forwards;  НЕ РАБОТАЕТ ТУТ - ИНАЧЕ СДЕЛАТЬ */
}
.profile-menu_title {
    position: relative;
    color: var(--black-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 20px;
 }
.menu-login_title {
    font-size: 15px;
}

.menu-logout_title {
    font-size: 12px;
}

.profile-menu_title:after {
    position: absolute;
    content: '';
    background-color: var(--accent-color);
    width: 40px;
    height: 1px;
    display: block;
    top: calc(100% + 5px);
    right: calc(50% - 20px);
}

.profile-menu_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.profile-menu_list-item {
    text-decoration: none;
    color: var(--black-color);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.profile-menu_buttons {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile-menu_buttons:hover {
    color: var(--accent-color);
}

/* ======================
    Profile Menu end
======================= */



/*================================
    Modals start 
================================*/

.closing-animation {
    animation: fade-out .3s;
}

/* ======================
    Modal Log In
======================= */

.modal-login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--white-color);
    border: 0;
    width: 250px;
    height: 262px;
    padding: 20px 25px 15px;
    line-height: 1.15;
}
.modal-login_close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.modal-login_close-button svg {
    width: 100%;
    height: 100%;
}
.modal-login_title {
    text-transform: uppercase;
    color: var(--black-color);
    text-align: center;
    font-family: "Forum";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}
.modal-login_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: initial;
    margin-bottom: 5px;
}
.modal-login_form_label {
    display: flex;
    flex-direction: column;
}
.modal-login_form_title {
    color: var(--black-color);
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}
.modal-login_form_input {
    width: 200px;
    height: 20px;
    padding: 0 3px;
    border: 1px solid #BB945F;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: normal;
    color: var(--grey-color);
}
/* ._error {
    border: 1px solid red;
} */
._password {
    margin-bottom: 10px;
}
.modal-login_login-button {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: var(--white-color);
    color: #0C0C0E;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}
.modal-login_info {
    color: var(--black-color);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}
.modal-login_link {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #0C0C0E;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: underline;
}

/* плавное затемнение экрана под модальным окном */
.modal-login[open]::backdrop {
    animation: fade-in 500ms forwards;
}

.modal-login::backdrop {
    background: rgb(0 0 0 / .7);
    opacity: 0.5;
}


/* ======================
    Modal Register
======================= */

.modal-register {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--white-color);
    border: 0;
    width: 250px;
    height: 382px;
    padding: 20px 25px 15px;
    line-height: 1.15;
}

.modal-register_close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal-register_close-button svg {
    width: 100%;
    height: 100%;
}

.modal-register_title {
    text-transform: uppercase;
    color: var(--black-color);
    text-align: center;
    font-family: "Forum";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}

.modal-register_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: initial;
    margin-bottom: 5px;
}

.modal-register_form_label {
    display: flex;
    flex-direction: column;
}

.modal-register_form_title {
    color: var(--black-color);
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.modal-register_form_input {
    width: 200px;
    height: 20px;
    padding: 0 3px;
    border: 1px solid #BB945F;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    line-height: normal;
    color: var(--grey-color);
    background-color: #fff;
}

.modal-register_form_input:focus {
    /* box-shadow: 0 0 5px #BB945F; */
    border: 3px solid #BB945F;
}

.modal-register_form_input._error {
    /* box-shadow: 0 0 5px red; */
    border: 1px solid red;
}

.modal-register_signup-button {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: var(--white-color);
    color: #0C0C0E;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.modal-register_info {
    color: var(--black-color);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.modal-register_link {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #0C0C0E;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: underline;
}

/* плавное затемнение экрана под модальным окном */
.modal-register[open]::backdrop {
    animation: fade-in 500ms forwards;
}

.modal-register::backdrop {
    background: rgb(0 0 0 / .7);
    opacity: 0.5;
}


/*================================
    Modal My Profile start 
================================*/

.modal-profile {
    position: fixed;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--white-color);
    border: 0;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.modal-profile_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.modal-profile_close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 25px;
    top: 25px;
}

.modal-profile_aside {
    width: 170px;
    height: 100%;
    background: #0C0C0E;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.aside_initials {
    width: 80px;
    height: 80px;
    background-color: #FFF;
    color: #BB945F;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 30px 0;
}

.aside_full-name {
    width: 120px;
    min-height: 30px;
    background-color: #FFF;
    padding: 5px 0;
    text-align: center;
}

.modal-profile_content {
    padding: 40px 20px;
    width: 430px;
    height: 100%;
}

.modal-profile_title {
    text-align: left;
    font-family: "Forum";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal-profile_statistics {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    display: flex;
    gap: 20px;
}

.statistics_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-profile_icon {
    display: block;
    width: 20px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.visits-icon {
    background-image: url(../assets/svg/visits.svg);
}

.bonuses-icon {
    background-image: url(../assets/svg/bonuses.svg);
}

.books-icon {
    background-image: url(../assets/svg/books.svg);
}

.visits_count,
.bonuses_count,
.books_count {
    font-size: 10px;
    letter-spacing: 0.2px;
}

.rented-books_title {
    font-size: 25px;
    color: #0C0C0E;
    margin-bottom: 30px;
    display: block;
}

.rented-books_list {
    padding-left: 30px;
    margin-bottom: 40px;
}

.rented-books_book {
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.modal-profile_card-number {
    color: #0C0C0E;
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-number {
    color: #BB945F;
}

/* плавное затемнение экрана под модальным окном */
.modal-profile[open]::backdrop {
    animation: fade-in 500ms forwards;
}

.modal-profile::backdrop {
    background: rgb(0 0 0 / .7);
    opacity: 0.5;
}

/*================================
    Modals end 
================================*/



.header_burger {
    display: none;
    width: 45px;
    height: 22px;
    position: relative;
}

.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
}

.burger_line-first {
    top: 0;
}

.burger_line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger_line-third {
    bottom: 0;
}

/* Header end */



/* Welcome section start */

.bg-img {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../assets/img/Welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome_container {
    max-width: 1440px;
    margin: 0 auto;
}

.overlay {
    min-height: 300px;
    background: linear-gradient(rgba(12, 12, 14, 1), rgba(18, 18, 21, 0.1));
}

.dark-box {
    background-color: var(--dark-color);
    min-width: 600px;
    min-height: 220px;
    padding: 35px 40px;
    position: absolute;
    top: 310px;
}

.bg-title {
    color: var(--white-color);
    font: var(--bg-title);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.9px;
}

/* Welcome section end */



/* About section start */

.about {
    text-align: center;
    padding: 20px 0px 34px;
}

.title-h2 {
    text-align: center;
    position: relative;
    color: var(--dark-color);
    font: var(--section-title);
    letter-spacing: 2px;
    margin-bottom: 61px;
}

.title-h2:after {
    position: absolute;
    content: '';
    background-color: var(--dark-color);
    width: 50px;
    height: 1px;
    display: block;
    top: calc(100% + 20px);
    right: calc(50% - 25px);
}

.text {
    margin-bottom: 20px;
}

.about_p {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 0.6px;
}

.carousel-container {
    position: relative;
}

.carrets-container {
    display: none;
    position: absolute;
    left: 8%;
    top: 47.4%;
    justify-content: space-between;
    width: 84%;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 1400px;
    height: 560px;
    margin: 0 auto 25px;
}

.about-img_flex {
    position: relative;
    width: 2350px;
    height: 560px;
    display: flex;
    gap: 25px;
    left: 0px;
    transition: all ease 1s;
}

.about-pagination_flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.pagination-outer {
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination-outer:nth-last-child(1),
.pagination-outer:nth-last-child(2) {
    display: none;
}

.pagination-inner {
    display: inline-flex;
    align-content: center;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    background-color: var(--dark-color);
    border-radius: 50%;
    border: none;
}

.pagination-active {
    background-color: var(--accent-color);
}

.pagination-outer-inactive {
    pointer-events: none;
}

/* About section end */



/* Favorites section start */

.favorites {
    padding: 20px 0px 30px;
}

.favorites_h3 {
    color: var(--black-color);
    font: var(--inter20-bold);
    text-align: left;
    margin-bottom: 34px;
}

.label {
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.radio-list_flex {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-content: flex-start;    
    margin-bottom: 31px;
}

.radio-item {
    flex-basis: 195px;
    text-align: left;
}

.radio-inter20 {
    color: var(--black-color);
    font: var(--inter20);
    padding-left: 20px;
}

.radio {
    display: none;
}

.fake {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid var(--black-color);
    position: relative;
    border-radius: 50%;
}

.fake::before {
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--black-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
    border-radius: 50%; 
}

.radio:checked+.fake::before {
    opacity: 1;
}

.radio:checked~.radio-inter20 {
    font-weight: 700;
    transition: .2s;
}

/* Появление соответствующего сезона книг по клику на радио-кнопке */
.invisible {
    display: none;
    pointer-events: none;
}
.favorites-winter,
.favorites-spring,
.favorites-summer,
.favorites-autumn {
    animation: fade-in 5s;
}

.favorites_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.favorites_article-wrapper {
    width: 590px;
    height: 555px;
}

.favorites_article-wrapper {
    list-style: none;
}

.favorites_book-card {
    width: 550px;
    height: 555px;
    padding: 13px 20px 13px 20px;
    text-align: left;
    border: 1px solid var(--black-color);
    position: relative;
}

.book-img {
    width: 200px;
    height: 300px;
    position: absolute;
    top: calc(100% - 299px);
    left: calc(100% - 159px);
}

.category-title {
    color: var(--black-color);
    font: var(--forum20);
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: block;
}

.category-title::after {
    content: '';
    background-color: var(--accent-color);
    width: 60px;
    height: 1px;
    display: block;
}

.book-title {
    color: var(--black-color);
    font: var(--inter15-bold);
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.book-author {
    margin-bottom: 20px;
    letter-spacing: 1.8px;
    font: var(--inter15-bold);
}

.text-description {
    display: block;
    width: 356px;
    height: 320px;
    color: var(--black-color);
    font: var(--inter15);
    letter-spacing: 2.4px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.buy_btn {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--dark-color);
    background-color: var(--white-color);
    font: var(--inter10-bold);
    color: var(--dark-color);
    letter-spacing: 1px;
    position: absolute;
    top: 510px;
    cursor: pointer;
}

.buy_btn:hover,
.check-card_btn:hover,
.sign-log_btn:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    transition: .3s;
}

.own_btn {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--white-color);
    font: var(--inter10-bold);
    letter-spacing: 1px;
    position: absolute;
    top: 510px;
}

/* Favorites section end */



/* Cofee Shop section start */

.coffee-shop {
    padding: 30px 0px;
}

.coffee-shop_p {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 2.7px;
    margin-bottom: 40px;
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.cofee-shop_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.menu_flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-left_flex {
    min-width: 438px;
}

.menu-right_flex {
    min-width: 462px;
}

.menu-title {
    color: var(--accent-color);
    font: var(--section-title);
    letter-spacing: 2px;
}

.menu-title-left {
    text-align: left;
}

.menu-title-right {
    text-align: right;
}

.menu_flex-item {
    display: flex;
    justify-content: space-between; 
}

.dish {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 2px;
    text-transform: capitalize;
    display: block;
}

.dish-left {
    text-align: left;
    min-width: 190px;
}

.dish-right {
    text-align: right;
    min-width: 210px;
}

.price {
    color: var(--black-color);
    font: var(--forum20);
    letter-spacing: 2px;
}

.price span {
    position: relative;
}

.price span::before {
    display: block;
    width: 100px;
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    top: 50%;
    right: calc(100% + 60px);
    height: 1px;
}

/* Cofee Shop section end */



/* Contacts section start */

.contacts {
    padding: 30px 0px;
}

.contacts_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}

.contacts-title {
    font: var(--inter20-40-bold);
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--black-color);
    text-transform: capitalize;
}

.contact-item {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 2.6px;
    text-align: left;
    text-transform: capitalize;
    padding-top: 20px;
    line-height: 30px;
}

.contact-item-director {
    padding-top: 0px;
}

.contact_link {
    color: var(--black-color);
    font: var(--inter20);
    text-decoration: none;
    color: var(--black-color);
}

.contact_name {
    font: var(--inter20-40-bold);
}

.contact_text a:hover,
.contact_link:hover {
    color: var(--accent-color);
    transition: 0.3s;
}

.contacts_list {
    margin-bottom: 40px;
    list-style: none;
    text-align: left;
}

.map {
    width: 696px;
    height: 414px;
    background-image: url(../assets/img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.staff {
    margin-bottom: 20px;
}

/* Contacts section end */



/* Library Cards section start */

.library-card {
    padding: 30px 0px 42px;
}

.library-cards_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 21px;
}

.find-card_title {
    font: var(--inter30);
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.white-bg {
    border: 3px solid var(--accent-color);
    background-color: var(--white-color);
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    padding: 20px 20px 30px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.gold-bg {
    background-color: var(--accent-color);
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    padding: 20px 20px 25px;
    margin-bottom: 20px;
}

.name_input, .card-number_input {
    display: block;
    font: var(--forum30);
    color: var(--grey-color);
    width: 520px;
    height: 66px;
    background-color: var(--white-color);
    border-radius: 10px;
    flex-shrink: 0;
    border: none;
    padding: 8px 20px;
    margin-bottom: 25px;
}

.library-title {
    font: var(--forum30);
    color: var(--black-color);
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 0.6px;
}

.check-card_btn {
    width: auto;
    height: auto;
    padding: 0px 40px;
    border-radius: 2px;
    border: 1px solid var(--dark-color);
    background-color: var(--white-color);
    color: var(--dark-color);
    font: var(--inter20-40-bold);
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.get-card_title {
    color: var(--black-color);
    font: var(--forum30);
    text-align: right;
    margin-bottom: 35px;
    line-height: normal;
    letter-spacing: 0.8px;
}

.get-card_text {
    color: var(--black-color);
    font: var(--inter20);
    letter-spacing: 1px;
    text-align: right;
    width: 456px;
    margin-bottom: 35px;
}

.btn_flex {
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.sign-log_btn {
    color: var(--dark-color);
    font: var(--inter10-bold);
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid var(--dark-color);
    width: 75px;
    height: 30px;
    padding: 10px 0;
    background-color: var(--white-color);
    cursor: pointer;
}

/* Library Cards section end */



/* Footer start */

.footer {
    color: var(--white-color);
    height: 250px;
}

.footer_container {
    background-color: var(--dark-color);
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px 34px;
}

.frame_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 65px;
    position: relative;
}

.frame_flex:after {
    position: absolute;
    content: '';
    background-color: var(--white-color);
    width: 100%;
    height: 1px;
    display: block;
    top: calc(100% + 30px);
    left: 0%;
}

.frame_flex-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address,
.open-hours {
    font: var(--inter15);
    line-height: 20px;
    letter-spacing: 0.4px;
    font-style: normal;
    display: inline;
}

.address {
    text-align: left;
}

.address a {
    text-decoration: none;
    color: var(--white-color);
}

.open-hours {
    text-align: right;
}

.icon-list {
    display: flex;
    justify-content: left;
    list-style: none;
}

.icon-item {
    width: 40px;
    align-content: center;
}

.media-limk{
    text-decoration: none;
    transition: .3s;
    padding: 5px;
    position: relative;
}

.media-link svg {
    position: absolute;
    top: calc(50% + 12px);
}

.media-link path {
    fill: #F5EFDB;
}

.footer-rss_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font: var(--inter20);
    letter-spacing: 3px;
}

.rss_item {
    flex: 1;
}

.year {
    text-align: left;
}

.school-name {
    text-align: center;
    letter-spacing: 2.5px;
}

.username {
    text-align: right;
}

.school-name a,
.username a {
    text-decoration: none;
    color: var(--white-color);
}

/* Footer end */



/* Media start */

@media screen and (max-width: 1439px) {
    .pagination-outer:nth-last-child(2) {
        display: flex;
    }
    .slider {
        width: 925px;
    }
}

@media screen and (max-width: 1260px) {
    .carrets-container {
        display: flex;
    }
    .about-carret-left {
        display: block;
        background-color: transparent;
        border: none;
        
    }
    .about-carret-right {
        /* display: inline-block; */
        background-color: transparent;
        border: none;
    }
    .carret-left {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .carret-right {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .carret-color:hover, .carret-color:active {
        stroke: var(--accent-color);
    }
    .slider {
        width: 450px;
    }
    .pagination-outer:nth-last-child(1) {
        display: flex;
    }

    .favorites_flex {
        justify-content: center;
    }
}

@media screen and (max-width: 1124px) {
    .header_burger {
        display: block;
    }
    .nav {
        width: 332px;
        height: 570px;
        position: fixed;
        top: 0;
        background-color: var(--dark-color);
        z-index: 9;
        padding: 100px 10px;
        /* transform: translateX(100%); */ /* с этим свойством появляется артефакт - меню на долю секунды выплывает и прячется вмомент перехода на бургер-меню*/
        right: -100%; /*вместо transform: translate тут и ниже в nav-active*/
    }
    .nav-active {
        /* transform: translateX(0); */ /* с этим свойством появляется артефакт - меню на долю секунды выплывает и прячется вмомент перехода на бургер-меню*/
        right: 0; /*выплытие справа - вместо transform: translate*/
        transition: .3s all linear;
    }
    .nav-close-transition {
        transition: .3s linear;
    }
    .nav-item {
        width: 100%;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .nav-item:last-child {
        margin-bottom: 0;
    }
    .nav-list {
        margin-right: 0;
    }
    .nav-link {
        padding-left: 0;
        display: block;
        text-align: center;
    }
    .nav-close {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 11;
    }
    .nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--white-color);
        position: absolute;
        top: 50%;
    }
    .nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .menu {
        gap: 40px;
    }
    .profile-initials {
        /* right: 105px; */
    }
    .profile-icon_above {
        position: fixed;
        top: 31px;
        z-index: 10;
        width: 28px;
        height: 28px;
    }
    .menu-right_flex {
        margin-left: auto;
    }
    .library-card {
        padding: 30px 0px 40px;
    }
    .library-cards_flex {
        justify-content: center;
    }
    .get-card_text {
        width: 600px;
        margin-bottom: 40px;
    }
    .get-card_title,
    .get-card_text {
        text-align: center;
    }
    .get-card_title {
        margin-bottom: 42px;
    }
    .btn_flex {
        justify-content: center;
    }
    .rss_item:nth-of-type(1) {
        flex-grow: 1;
    }
    .rss_item:nth-of-type(2) {
        flex-grow: 3;
        padding-left: 45px;
    }
    .rss_item {
        flex: auto;
    }
}

@media screen and (max-width: 819px) {
    .radio-item:nth-last-child(1) {
        flex-basis: auto;
    }
    .coffee-shop_p {
        letter-spacing: 2.5px;
    }
}

@media screen and (max-width: 768px) {
    .bg-img {
        background-image: url(../assets/img/welcome-sm.jpg);
    }
}

@media screen and (max-width: 734px) {
    .radio-list_flex {
        justify-content: space-between;
    }
    .radio-item {
        flex-basis: auto;
    }
    .dark-box {
        min-width: 400px;
        min-height: 146px;
        padding: 20px 22px;
    }
}

@media screen and (max-width: 654px) {
    .radio-list_flex {
        flex-direction: column;
    }
    .rss_item {
        font-size: 15px;
    }
}

/* Media end */
